body {
    margin: 20px;
    border: 1px solid black;
    padding-bottom: 15px;
    font-family: "Times New Roman", Times, serif;
}

header {
    display: flex;
    flex-flow: row wrap;
    background-color: steelblue;
    flex: 100%;
    border-bottom: 1px solid black;
}

header img {
    border-radius: 20px;
    display: block;
}

.info h1 {
    font-size: 60px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 45px;
    
}

.info{ 
    text-align: center;
    flex: 60%;
}

a {
    color: #E1701A;
    text-decoration: none;
}

a:hover {
    color: powderblue;
}

address {
    font-size: 20px;
    background-color: whitesmoke;
    text-align: center;
    border-bottom: 2px solid steelblue;
    color: #4A403A;
    padding: 5px;
}

address span {
    padding: 0px 30px 0px 30px;
}

.about-me {
    color: #3A6351;;
    text-align: center;
    font-style: italic;
    padding: 5px;
}

.about-me p {
    color: #082032;
    font-size: 20px;
    border-bottom: 2px solid steelblue;
    padding-bottom: 15px;
}

main {
    display: grid;
    grid-template-columns: 65%  35%;
    color: #082032;
}

main ul,aside ul {
    font-size: 20px;
}

article {
    padding: 10px;
}

article h2,aside h2{
    background-color: whitesmoke ;
    color: #3A6351;
    padding: 5px;
}

article h3 {
    padding: 5px;
    color: steelblue;
}

aside {
    border-left: 1px solid steelblue;
    padding: 15px;
}

aside ul {
    list-style-type: none;
    color: #082032;
}


