body {
    background-color: olive;
}

.checkboxes {
    display: flex;
    flex-flow: column wrap;
    background-color: orange;
    padding: 1em;
    font-size: 18px;
}

#inputname {
    margin: 0.5em;
    border-color: purple;
    font-size: 2em;
}


#getSpirit, #changeSpirit {
    background-color: teal;
    margin: 1em;
    font-size: 18px;
}